<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="iotek.com.merchantmanager">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.iotek.merchantmanager.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.iotek.merchantmanager.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.LoginView"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.iotek.merchantmanager.activity.MainActivity"/>
        <activity android:name="com.iotek.merchantmanager.activity.UserManagerDetailActivity"/>
        <activity
            android:name="com.iotek.merchantmanager.activity.AddUserActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.iotek.merchantmanager.activity.BBCBankActivity"/>

        <activity android:name="com.iotek.merchantmanager.activity.UserCenterActivity"/>

        <activity android:name="com.iotek.merchantmanager.activity.TradeFormDetailActivity"/>

        <activity android:name="com.iotek.merchantmanager.activity.SalesItemDataDetailActivity"/>

        <activity android:name="com.iotek.merchantmanager.activity.HistoryDataActivity"/>

        <activity android:name="com.iotek.merchantmanager.activity.HistoryListDataActivity"/>

        <activity android:name="com.iotek.merchantmanager.activity.MonthPayTypeActivity"/>

      <activity android:name="com.iotek.merchantmanager.activity.SelectShiftReportDetailActivity"/>

    </application>

</manifest>